<div class="content-wrapper" style="margin-top:50px;">
        <section class="content-header">
                      <h1>
                        Transaction
                        <small>Control panel</small>
                      </h1>
                      <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Transaction</li>
                      </ol>
        </section>
         <section class="content">
                   <div class="col-lg-4 col-xs-6">
                        <div class="small-box bg-aqua">
                          <div class="inner">
                            <p>Pending Payment For View</p>
                            <h3>150</h3>
                          </div>
                          <div class="icon">
                            <i class="ion ion-bag"></i>
                          </div>
                          <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                      </div>
                      <div class="col-lg-4 col-xs-6">
                          <div class="small-box bg-green">
                            <div class="inner">
                              <p>Pending View Transaction</p>
                              <h3>45</h3>
                            </div>
                            <div class="icon">
                              <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-4 col-xs-6">
                          <!-- small box -->
                          <div class="small-box bg-yellow">
                            <div class="inner">
                              <p>Completed Payment For View</p>
                              <h3>44</h3>
                            </div>
                            <div class="icon">
                                 <i class="ion ion-person-add"></i>
                            </div>
                                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                          </div>
                      </div>
                     <div class="col-lg-12" style="margin-bottom:22px;margin-left:-26px;">
                        <div class="col-lg-6">
                            <form [formGroup]="myForm" novalidatev>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">From</label>
                                        <div class="col-sm-4">
                                            <my-date-picker name="FromDate"   [options]="myDatePickerOptions" formControlName="FromDate"></my-date-picker>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">To</label>
                                            <div class="col-sm-4">
                                                <my-date-picker name="ToDate"   [options]="myDatePickerOptions" formControlName="ToDate"></my-date-picker>
                                            </div>
                                    </div>
                            </form>
                         </div>
                      </div>
                            <div class="col-lg-4 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <p>Completed Payment Form View</p>
                                        <h3>44</h3>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                            </div>
                            <div class="col-lg-4 col-xs-6">
                                    <!-- small box -->
                                    <div class="small-box bg-yellow">
                                    <div class="inner">
                                        <p>Total Inquiry View</p>
                                        <h3>44</h3>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                            </div>
                            <div class="col-lg-4 col-xs-6">
                                 <div class="form-group search-field">
                                     <label for="Search" class="col-sm-2 control-label">Search</label>
                                         <div class="col-sm-10">
                                              <input type="email" class="form-control" id="Search" placeholder="Search">
                                     </div>
                                </div>   
                            </div>
                 <div class="col-lg-12">
                      <div class="nav-tabs-custom dark-box">
                            <ul class="nav nav-tabs">
                                <li class="active" (click)="PendingTransaction()"><a href="#allCategory" data-toggle="tab">Pendin Transaction <span class="badge btn-primary"></span></a></li>
                                <li (click)="CompletedTransaction()"><a href="#trashCategory" data-toggle="tab">Completed Transaction <span class="badge btn-danger"></span></a></li>	      
                           </ul>
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-xs-12"> 
                                            <div *ngIf="pending" class="active tab-pane" id="allCategory">
                                                <table id="allCategoryTable" class="table table-bordered table-hover">
                                                <thead>
                                                        <tr>
                                                            <th>Class</th>
                                                            <th>Instructor</th>
                                                            <th>Total Inquiry</th>
                                                            <th>Pending View</th>
                                                            <th>Amount</th>
                                                            <th></th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                     <tr>
                                                         <td>Bsc CSIT</td>
                                                         <td>Prayas Sapkota</td>
                                                         <td>12</td>
                                                         <td>12</td>
                                                         <td>25000</td>
                                                         <td><button type="button" class="btn btn-sm btn-info">Withdraw</button></td>
                                                     </tr>
                                                     <tr>
                                                            <td>Bsc CSIT</td>
                                                            <td>Prayas Sapkota</td>
                                                            <td>12</td>
                                                            <td>12</td>
                                                            <td>25000</td>
                                                            <td><button type="button" class="btn btn-sm btn-info">Withdraw</button></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bsc CSIT</td>
                                                            <td>Prayas Sapkota</td>
                                                            <td>12</td>
                                                            <td>12</td>
                                                            <td>25000</td>
                                                            <td><button type="button" class="btn btn-sm btn-info">Withdraw</button></td>
                                                        </tr>
                                                </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Class</th>
                                                            <th>Instructor</th>
                                                            <th>Total Inquiry</th>
                                                            <th>Pending View</th>
                                                            <th>Amount</th>  
                                                            <th></th>            
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div *ngIf="completed" class="tab-pane" id="trashCategory">
                                                    <table id="trashCategoryTable" class="table table-bordered table-hover">
                                                    <thead>
                                                                <tr>
                                                                    <th>Class</th>
                                                                    <th>Instructor</th>
                                                                    <th>Total Inquiry</th>
                                                                    <th>Amount</th>
                                                                    <th></th>
                                                                </tr>
                                                    </thead>
                                                        <tbody>
                                                                <tr>
                                                                    <td>Bsc CSIT</td>
                                                                    <td>Sulav paudel</td>
                                                                    <td>12</td>
                                                                    <td>25000</td>
                                                                    <td><button type="button" class="btn btn-sm btn-info">Withdraw</button></td>
                                                                </tr>
                                                                 <tr>
                                                                    <td>Bsc CSIT</td>
                                                                    <td>Sulav paudel</td>
                                                                    <td>12</td>
                                                                    <td>25000</td>
                                                                    <td><button type="button" class="btn btn-sm btn-info">Withdraw</button></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Bsc CSIT</td>
                                                                    <td>Sulav paudel</td>
                                                                    <td>12</td>
                                                                    <td>25000</td>
                                                                    <td><button type="button" class="btn btn-sm btn-info">Withdraw</button></td>
                                                                </tr>
                                                        </tbody>
                                                        <tfoot>
                                                                <tr>
                                                                    <th>Class</th>
                                                                    <th>Instructor</th>
                                                                    <th>Total Inquiry</th>
                                                                    <th>Amount</th>
                                                                    <th></th>              
                                                                </tr>
                                                            </tfoot>
                                                    </table>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                 </div>    
         </section>
 </div>
