<div class="content-wrapper" style="margin-top:50px;">
        <section class="content-header">
                      <h1>
                         Live Visitor
                        <small>Control panel</small>
                      </h1>
                      <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Live Visitor</li>
                      </ol>
        </section>
         <section class="content">
            <div class="col-lg-4 col-xs-6">
                <div class="small-box bg-aqua">
                  <div class="inner">
                    <h3>150</h3>
                    <p>Live Visitor</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-4 col-xs-6">
                  <div class="small-box bg-green">
                    <div class="inner">
                      <h3>45</h3>
                      <p>Weekly Visitor</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-xs-6">
                  <!-- small box -->
                  <div class="small-box bg-yellow">
                    <div class="inner">
                      <h3>44</h3>
                      <p>Monthly Visitor</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-xs-12">
                    <div class="box box-primary">
                      <div class="box-header with-border">
                        <i class="fa fa-bar-chart-o"></i>
                        <h3 class="box-title">Live Visitor</h3>
                        <div style="display: block;">
                          <canvas baseChart width="100%" height="30px"
                                      [datasets]="lineChartData"
                                      [labels]="lineChartLabels"
                                      [options]="lineChartOptions"
                                      [colors]="lineChartColors"
                                      [legend]="lineChartLegend"
                                      [chartType]="lineChartType"
                                      (chartHover)="chartHovered($event)"
                                      (chartClick)="chartClicked($event)"></canvas>
                           </div>
                      </div>
                    </div>
                  </div>
                  <div class="box-body">
                    <div class="row">
                      <div class="col-xs-6"  style="float:right;margin-right:-270px;">
                        <div class="col-xs-3">
                         <div class="form-group">
                          <label>Select</label>
                            <select class="form-control select2">
                                <option selected="selected">Daily</option>
                                <option>Weekly</option>
                                <option>Monthly</option>
                                <option>Yearly</option>
                            </select>
                          </div>
                        </div>
                          <div class="col-xs-3">
                                <label for="dd">Day</label>
                                <input type="text" class="form-control" placeholder="">
                          </div>
                        </div>
                        <div class="col-xs-12">
                          <div class="box box-primary">
                            <div class="box-header with-border">
                              <i class="fa fa-bar-chart-o"></i>
                              <h3 class="box-title">Total Number Of Visitor</h3>
                                  <div style="display: block;">
                                  <canvas baseChart width="100%" height="30px"
                                              [datasets]="lineChartData"
                                              [labels]="lineChartLabels"
                                              [options]="lineChartOptions"
                                              [colors]="lineChartColors"
                                              [legend]="lineChartLegend"
                                              [chartType]="lineChartType"
                                              (chartHover)="chartHovered($event)"
                                              (chartClick)="chartClicked($event)">
                                        </canvas>
                                  </div>
                                <!-- <div class="col-md-6" style="margin-bottom: 10px">
                                  <table class="table table-responsive table-condensed">
                                    <tr>
                                      <th *ngFor="let label of lineChartLabels">{{label}}</th>
                                    </tr>
                                    <tr *ngFor="let d of lineChartData">
                                      <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                                    </tr>
                                  </table>
                                  <button (click)="randomize()">CLICK</button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                
           </section>
    </div>