<div class="content-wrapper" style="margin-top:50px;">
        <section class="content-header">
                     <h1>
                        Manage User
                        <small>Control panel</small>
                      </h1>
                      <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Manage User</li>
                     </ol>
         </section>
    <section class="content">
            <div class="row">
                    <div class="col-md-4">
                         <div class="box box-primary dark-box">
                             <div class="box-header with-border">
                                         <h3 class="box-title">Add User</h3>
                                             <!-- <div class="box-tools pull-right">
                                                 <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                                 </button>
                                          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                      </div> -->
                             </div>
                             <div class="box-body">
                                	  <div class="input-group col-md-12">
                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text"  class="form-control input-sm" name="name" id="name"  placeholder="Enter your First Name"/>
                                      </div><br>
                                      <div class="input-group col-md-12">
                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text"  class="form-control input-sm" name="name" id="name"  placeholder="Enter your Middle Name"/>
                                      </div><br>
                                      <div class="input-group col-md-12">
                                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text"  class="form-control input-sm" name="name" id="name"  placeholder="Enter your Last Name"/>
                                      </div><br>
                                      <div class="input-group col-md-12">
                                            <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control input-sm" name="email" id="email"  placeholder="Address"/>
                                      </div><br>
                                      <div class="input-group col-md-12">
                                            <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control input-sm" name="email" id="email"  placeholder="Country"/>
                                      </div><br>
                                      <div class="input-group col-md-12">
                                            <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control input-sm" name="email" id="email"  placeholder="Phone Number"/>
                                      </div><br>
                                      <div class="input-group col-md-12">
                                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control input-sm" name="email" id="email"  placeholder="Enter your Email"/>
                                      </div><br>
                                      <div class="input-group col-md-12">
                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control input-sm" name="password" id="password"  placeholder="Enter your Password"/>
                                      </div>
                              </div>
                        </div>

                        <div class="box box-primary dark-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Access Menus</h3>    
                                    </div>
                                    <div class="box-body">
                                           <div class="form-group">
                                                <label>
                                                       <input type="checkbox" class="minimal-red">Menus1
                                               </label>
                                               <label>
                                                    <input type="radio" name="r2" class="minimal-red" checked> R
                                                </label>
                                                <label>
                                                      <input type="radio" name="r2" class="minimal-red" checked> W
                                                </label>
                                                 <label>
                                                     <input type="radio" name="r2" class="minimal-red" checked>U
                                                </label>
                                                <label>
                                                     <input type="radio" name="r2" class="minimal-red">D
                                                </label>
                                           </div>
                                           <div class="form-group">
                                                <label>
                                                       <input type="checkbox" class="minimal-red">Menus2
                                                </label>
                                                <label>
                                                      <input type="radio" name="r2" class="minimal-red" checked> R
                                                </label>
                                                <label>
                                                      <input type="radio" name="r2" class="minimal-red" checked> W
                                                </label>
                                                      <label>
                                                      <input type="radio" name="r2" class="minimal-red" checked>U
                                                </label>
                                                <label>
                                                      <input type="radio" name="r2" class="minimal-red">D
                                                </label>
                                           </div>
                                            <div class="input-group col-md-12"><br>
                                                      <button type="submit" class="btn btn-primary btn-flat btn-block form-control input-sm">Add User</button>
                                          </div>
                                    </div>
                              </div>
                    </div>


                    <div class="col-md-8">
                            <div class="nav-tabs-custom dark-box">
                              <ul class="nav nav-tabs">
                                <li class="active"><a href="#allCategory" data-toggle="tab">All User <span class="badge btn-primary">10</span></a></li>
                                <!-- <li><a href="#trashCategory" data-toggle="tab">Trash <span class="badge btn-danger">9</span></a></li>	       -->
                              </ul>
                              <div class="tab-content">
                                    <div class="active tab-pane" id="allCategory">
                                        <table id="allCategoryTable" class="table table-bordered table-hover">
                                          <thead>
                                                    <tr>
                                                        <th>NAME</th>
                                                        <th>ADDRESS</th>
                                                        <th>COUNTRY</th>
                                                        <th>PHONE NUMBER</th>
                                                        <th>EMAIL</th>
                                                    </tr>
                                          </thead>
                                          <tbody>
                                          </tbody>
                                               <tfoot>
                                                    <tr>
                                                        <th>NAME</th>
                                                        <th>ADDRESS</th>
                                                        <th>COUNTRY</th>
                                                        <th>PHONE NUMBER</th>
                                                        <th>EMAIL</th>             
                                                     </tr>
                                                </tfoot>
                                          </table>
                                        </div>
                                 </div>
                          </div>
                 </div>    
           </div>       
    </section>
</div>