<body class="hold-transition login-page">
 <div class="login-box">
    <div class="login-box-body">
        <div class="login-logo">
            <img src="/assets/img/new_logoclassmonk.png" style="max-width: 180px;" class="user-image" alt="User Image">
       </div>
      <form  [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
        <div class="form-group has-feedback"  
          [ngClass]="{'has-error': loginForm.controls.email.invalid && loginForm.controls.email.dirty,
          'has-success': loginForm.controls.email.valid && !loginForm.controls.email.dirty }">
           <input type="email" class="form-control" placeholder="Email" formControlName="email">
           <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback"  
          [ngClass]="{'has-error': loginForm.controls.email.invalid && loginForm.controls.email.dirty,
          'has-success': loginForm.controls.email.valid && !loginForm.controls.email.dirty }">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="Sing">{{sign}}</button>
          </div>
        </div>
      </form>  
    </div>
  </div>
  <div *ngIf="Info" class="alert alert-danger" style="width:270px;position:absolute;bottom:0px;">
       <strong>{{info}}</strong>
  </div>
  </body>
