<div class="content-wrapper" style="margin-top:50px;">
    <section class="content-header">
                 <h1>
                     Add City
                    <small>Control panel</small>
                  </h1>
                  <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Add City</li>
                 </ol>
    </section>
    <section class="content">
              <div class="row">
                   <div class="col-md-4">
                        <div class="box box-primary dark-box">
                            <div class="box-header with-border">
                                        <h3 class="box-title">Add City</h3>
                                            <!-- <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                                </button>
                                         <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                     </div> -->
                            </div>
                            <div class="box-body">
                                <div class="input-group col-md-12">
                                        <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-home" aria-hidden="true"></i></span>
                                            <input type="text" class="form-control input-sm"placeholder=" Display City Name" aria-describedby="sizing-addon2">
                                 </div><br>
                                    <div class="input-group col-md-12">
                                        <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-home" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control input-sm"placeholder="City Name" aria-describedby="sizing-addon2">
                                    </div><br>
                                    <agm-map [latitude]="lat" [longitude]="lng">
                                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                   </agm-map>
                                   <div class="input-group col-md-12"><br>
                                          <button type="submit" class="btn btn-primary btn-flat btn-block form-control input-sm">Add City</button>
                                   </div>
                             </div>
                       </div>  
                  </div>
              
                <div class="col-md-8">
                     <div class="nav-tabs-custom dark-box">
                                <ul class="nav nav-tabs">
                                <li class="active"><a href="#allCategory" data-toggle="tab">All <span class="badge btn-primary">Hetada</span></a></li>
                                <li><a href="#trashCategory" data-toggle="tab">Trash <span class="badge btn-danger">Nepal</span></a></li>	      
                            </ul>
                       <div class="tab-content">
                            <div class="active tab-pane" id="allCategory">
                                <table id="allCategoryTable" class="table table-bordered table-hover">
                                  <thead>
                                        <tr>
                                            <th>NAME</th>
                                            <th>ADDRESS</th>
                                            <th>CATEGORY ACCESS</th>
                                        </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>NAME</th>
                                            <th>ADDRESS</th>
                                            <th>CATEGORY ACCESS</th>                
                                        </tr>
                                     </tfoot>
                                  </table>
                            </div>
                            <div class="tab-pane" id="trashCategory">
                                    <table id="trashCategoryTable" class="table table-bordered table-hover">
                                      <thead>
                                            <tr>
                                                <th>NAME</th>
                                                <th>ADDRESS</th>
                                                <th>CATEGORY ACCESS</th>
                                            </tr>
                                       </thead>
                                          <tbody>
                                          </tbody>
                                          <tfoot>
                                                <tr>
                                                    <th>NAME</th>
                                                    <th>ADDRESS</th>
                                                    <th>CATEGORY ACCESS</th>                
                                                 </tr>
                                             </tfoot>
                                      </table>
                                </div>
                         </div>
                  </div>
            </div>
       </div>
    </section>
</div>
