
<!-- <body class="hold-transition skin-blue sidebar-mini"> -->
    <!-- <div class="wrapper"> -->
      <div class="main-body">
        <div class="main-wrapper">
       <header class="main-header">
         <!-- Logo -->
         <a href="index2.html" class="logo">
           <!-- mini logo for sidebar mini 50x50 pixels -->
           <span class="logo-mini"><b>A</b>LT</span>
           <!-- logo for regular state and mobile devices -->
           <span class="logo-lg"><b>Class</b>Monk</span>
         </a>
         <!-- Header Navbar: style can be found in header.less -->
         <nav class="navbar navbar-static-top">
           <!-- Sidebar toggle button-->
           <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
             <span class="sr-only">Toggle navigation</span>
           </a>
     
           <div class="navbar-custom-menu">
             <ul class="nav navbar-nav">
               <li class="dropdown user user-menu">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   <img src="/assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                   <span class="hidden-xs">Alexander Pierce</span>
                 </a>
                 <ul class="dropdown-menu">
                   <!-- User image -->
                   <li class="user-header">
                     <img src="/assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
     
                     <p>
                       Alexander Pierce - Web Developer
                       <small>Member since Nov. 2012</small>
                     </p>
                   </li>
                   <!-- Menu Body -->
                   <li class="user-body">
                     <div class="row">
                       <div class="col-xs-4 text-center">
                         <a href="#">Followers</a>
                       </div>
                       <div class="col-xs-4 text-center">
                         <a href="#">Sales</a>
                       </div>
                       <div class="col-xs-4 text-center">
                         <a href="#">Friends</a>
                       </div>
                     </div>
                     <!-- /.row -->
                   </li>
                   <!-- Menu Footer-->
                   <li class="user-footer">
                     <div class="pull-left">
                       <a href="#" class="btn btn-default btn-flat">Profile</a>
                     </div>
                     <div class="pull-right">
                       <a href="#" class="btn btn-default btn-flat">Sign out</a>
                     </div>
                   </li>
                 </ul>
               </li>
             </ul>
           </div>
         </nav>
       </header>
       
       <aside class="main-sidebar">
         <section class="sidebar">
           <div class="user-panel">
             <div class="pull-left image">
               <img src="/assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
             </div>
             <div class="pull-left info">
               <p>Alexander Pierce</p>
               <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
             </div>
           </div>
           <!-- search form -->
           <form action="#" method="get" class="sidebar-form">
             <div class="input-group aside-input-div">
               <input type="text" name="q" class="form-control aside-input" placeholder="Search...">
               <span class="input-group-btn">
                     <button type="submit" name="search" id="search-btn" class="btn btn-flat aside-btn"><i class="fa fa-search"></i>
                     </button>
                   </span>
             </div>
           </form>
           <!-- /.search form -->
           <!-- sidebar menu: : style can be found in sidebar.less -->
           <ul class="sidebar-menu">
             <li class="header">MAIN NAVIGATION</li>
             <!-- Optionally, you can add icons to the links -->
             <li >
               <a href="https://classmonk.com" target="_blank">
                 <i class="fa fa-globe"></i> <span>Visit Website</span>
               </a>
             </li>
     
             <li *ngFor="let menulist of menulists;let i=index">
               <a   [ngClass] = "{'active' : setclass == i}" (click) = addMenus(i) [routerLink]="[menulist?.link]">
                  <i class={{menulist.fa}}></i> <span> {{menulist.name}}</span>
               </a>
             </li>
     
             <li>
               <a (click)="loginOut()">
                 <i class="fa fa-bell"></i> <span>Log Out</span>
               </a>
             </li>
             </ul>
         </section>
         <!-- /.sidebar -->
       </aside>
     </div>
 </div> 
       <!-- Content Wrapper. Contains page content -->
       <!-- /.content-wrapper -->
       <!-- <footer class="main-footer">
         <div class="pull-right hidden-xs">
           <b>Version</b> 2.4.0
         </div>
         <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
         reserved.
       </footer> -->
     
       <!-- Control Sidebar -->
     
       <!-- /.control-sidebar -->
       <!-- Add the sidebar's background. This div must be placed
            immediately after the control sidebar -->
       <!-- <div class="control-sidebar-bg"></div> -->
     <!-- </div> -->
     <!-- ./wrapper -->
     
     <!-- jQuery 3 -->
     <!-- <script src="/assets//plugins/jQuery/jquery-2.2.3.min.js"></script>
     
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.24/daterangepicker.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
     <script src="/assets//dist/js/app.min.js"></script>
     
     <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
     <script src="/assets/plugins/iCheck/icheck.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMTNOxmNMpvCRU7MQwB0QjnjRMruzDiAk&callback=initMap&libraries=places"  type="text/javascript" async defer></script> -->
     <!-- </body> -->
     
     