.main-body{
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.main-wrapper{
    background-color: #222d32;
}
.sidebar-toggle, .hidden-xs, .logo{
    color: #fff;
}
.main-sidebar{
    background-color: #222d32;
    position: fixed;
}
.main-body .main-header{
    background-color: #01AEF0;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    
}
.aside-input-div{
    background-color: #374850;
    border:1px solid #d2d6de;
}
.aside-input{
    background-color: #374850;
    border: none;
}

.aside-input-div:focus{
    background: #fff;
}
.aside-input:focus,
.aside-input-div:focus .aside-btn{
    background: #fff;
}
.aside-btn{
    background-color: #374850;
}
.sidebar a {
    color: #b8c7ce;
}
.sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #01AEF0;
}
 .sidebar-menu>li>a {
    border-left: 3px solid transparent;
}
 .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #01AEF0;
}
.sidebar-menu li>a {
    position: relative;
}
.sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
}
.sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}
.active::i  {
    color: #fff;
    background: #1e282c;
    border-left-color: #01AEF0;
}