<div class="content-wrapper" style="margin-top:50px;">
    <section class="content-header">
                  <h1>
                   Manage Instructor
                    <small>Control panel</small>
                  </h1>
                  <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Manage Instructor</li>
                  </ol>
    </section>
    <section class="content">
        <div class="nav-tabs-custom dark-box">
           <ul class="nav nav-tabs">
                <li class="active" (click)="All()"><a href="#allCategory"   data-toggle="tab">New<span class="badge btn-primary">{{number_of_instructor}}</span></a></li>
                <li (click)="AllApproved()"><a href="#approvedCategory" data-toggle="tab">Approved<span class="badge btn-primary">{{number_of_approved}}</span></a></li>
                <li (click)="AllDeclined()"><a href="#declinedCategory" data-toggle="tab">Declined<span class="badge btn-danger">{{number_of_declined}}</span></a></li>
                <li (click)="AllSuspend()"><a href="#suspendCategory" data-toggle="tab" >Suspend<span class="badge btn-warning">{{number_of_suspend}}</span></a></li>
           </ul>
            <div class="tab-content">
                <div class="row">
                    <div class="col-xs-12"> 
                          <div *ngIf="all" class="active tab-pane" id="allCategory">
                              <table id="newtable" class="table table-bordered table-hover">
                                    <thead> 
                                        <tr>
                                            <th>Image</th>
                                            <th>Detail</th>
                                            <th>Verification</th>
                                            <th>Status</th>
                                          </tr>
                                    </thead>
                                     <tbody>
                                            <tr *ngFor="let instructor of instructorData;let i= index;">
                                               <td style="width:20%;">
                                                    <img src="/assets/dist/img/user2-160x160.jpg" class="img img-responsive center-block img-rounded" style="max-width: 150px;"/>
                                               </td>
                                             <td>{{instructor.first_name}} {{instructor.last_name}}</td>
                                                 <td [formGroup]="approvedInstructor"> 
                                                   <div formArrayName="varificationLists">
                                                     <div class="form-group" [formGroupName]="i">
                                                         <div class="checkbox">
                                                           <label>
                                                             <input type="checkbox" (change)="ApprovedChange(i)"  formControlName="email" >
                                                               Email
                                                           </label>
                                                        </div>
                                                         <div class="checkbox">
                                                             <label>
                                                                 <input type="checkbox" (change)="ApprovedChange(i)"  formControlName="phonenumber">
                                                                 Phone Number
                                                             </label>
                                                         </div>
                                                         <div class="checkbox">
                                                               <label>
                                                                 <input type="checkbox" (change)="ApprovedChange(i)"  formControlName="website">
                                                                   Website
                                                               </label>
                                                           </div>
                                                           <div class="checkbox">
                                                               <label>
                                                                   <input type="checkbox" (change)="ApprovedChange(i)"  formControlName="socialmedial">
                                                                   Social Media
                                                               </label>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </td>
                                                 <td>
                                                     <button type="button" class="btn btn-sm btn-info" (click)="Approved(i)">Approved</button>
                                                     <button type="button" class="btn btn-sm btn-danger" (click)="declinedInstructor(i)">Declined</button>
                                                     <button type="button" class="btn btn-sm btn-warning"(click)="suspendInstructor(i)">Suspend</button>
                                                 </td>
                                              </tr>
                                         </tbody>                                    
                                   </table>
                            </div>
                            <div *ngIf="is_approved" class="active tab-pane" id="approvedCategory">
                                <table id="approvedTable" class="table table-bordered table-hover">
                                      <thead> 
                                          <tr>
                                              <th>Image</th>
                                              <th>Detail</th>
                                              <th>Verification</th>
                                              <th>Status</th>
                                            </tr>
                                      </thead>
                                      <tbody>
                                            <tr *ngFor="let approved of approvedLists;let i= index;">
                                                    <td style="width:20%;">
                                                         <img src="/assets/dist/img/user2-160x160.jpg" class="img img-responsive center-block img-rounded" style="max-width: 150px;"/>
                                                    </td>
                                                  <td>{{approved.first_name}} {{approved.last_name}}</td>
                                                      <td [formGroup]="approvedform"> 
                                                        <div formArrayName="approved_List">
                                                          <div class="form-group" [formGroupName]="i">
                                                              <div class="checkbox">
                                                                <label>
                                                                  <input type="checkbox" (change)="IsapprovedChange(i)"  formControlName="email" >
                                                                    Email
                                                                </label>
                                                             </div>
                                                              <div class="checkbox">
                                                                  <label>
                                                                      <input type="checkbox" (change)="IsapprovedChange(i)" formControlName="phonenumber">
                                                                      Phone Number
                                                                  </label>
                                                              </div>
                                                              <div class="checkbox">
                                                                    <label>
                                                                      <input type="checkbox"  (change)="IsapprovedChange(i)" formControlName="website">
                                                                        Website
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" (change)="IsapprovedChange(i)" formControlName="socialmedial">
                                                                        Social Media
                                                                    </label>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <button type="button" class="btn btn-sm btn-danger" (click)="declinedInstructorFormApprovedLists(i)">Declined</button>
                                                          <button type="button" class="btn btn-sm btn-warning"(click)="suspendInstructorFormApprovedLists(i)" >Suspend</button>
                                                      </td>
                                                   </tr>
                                           
                                      </tbody>
                                </table>
                            </div>
                            <div *ngIf="is_declined" class="active tab-pane" id="declinedCategory" >
                                <table id="declinedTable" class="table table-bordered table-hover">
                                      <thead> 
                                          <tr>
                                              <th>Image</th>
                                              <th>Detail</th>
                                              <th>Verification</th>
                                              <th>Status</th>
                                            </tr>
                                      </thead>
                                      <tbody>
                                            <tr *ngFor="let declined of declinedLists;let i= index;">
                                                    <td style="width:20%;">
                                                         <img src="/assets/dist/img/user2-160x160.jpg" class="img img-responsive center-block img-rounded" style="max-width: 150px;"/>
                                                    </td>
                                                  <td>{{declined.first_name}} {{declined.last_name}}</td>
                                                      <td [formGroup]="declinedform"> 
                                                        <div formArrayName="declined_List">
                                                          <div class="form-group" [formGroupName]="i">
                                                              <div class="checkbox">
                                                                <label>
                                                                  <input type="checkbox" (change)="declinedChange(i)"   formControlName="email">
                                                                    Email
                                                                </label>
                                                             </div>
                                                              <div class="checkbox">
                                                                  <label>
                                                                      <input type="checkbox" (change)="declinedChange(i)" formControlName="phonenumber">
                                                                      Phone Number
                                                                  </label>
                                                              </div>
                                                              <div class="checkbox">
                                                                    <label>
                                                                      <input type="checkbox" (change)="declinedChange(i)" formControlName="website">
                                                                        Website
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" (change)="declinedChange(i)" formControlName="socialmedial">
                                                                        Social Media
                                                                    </label>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <button type="button" class="btn btn-sm btn-info" (click)="ApprovedFormdeclined(i)" >Approved</button>
                                                          <button type="button" class="btn btn-sm btn-warning"(click)="suspendInstructorformdeclined(i)" >Suspend</button>
                                                      </td>
                                                   </tr>
                                      </tbody>
                                </table>
                            </div>
                            <div *ngIf="is_suspend" class="active tab-pane" id="suspendCategory">
                                <table id="suspendTable" class="table table-bordered table-hover">
                                      <thead> 
                                          <tr>
                                              <th>Image</th>
                                              <th>Detail</th>
                                              <th>Verification</th>
                                              <th>Status</th>
                                            </tr>
                                      </thead>
                                      <tbody>
                                            <tr *ngFor="let suspend of suspendLists;let i= index;">
                                                    <td style="width:20%;">
                                                         <img src="/assets/dist/img/user2-160x160.jpg" class="img img-responsive center-block img-rounded" style="max-width: 150px;"/>
                                                    </td>
                                                  <td>{{suspend.first_name}} {{suspend.last_name}}</td>
                                                      <td [formGroup]="suspendform"> 
                                                        <div formArrayName="suspend_List">
                                                          <div class="form-group" [formGroupName]="i">
                                                              <div class="checkbox">
                                                                <label>
                                                                  <input type="checkbox" (change)="suspendChange(i)"  formControlName="email">
                                                                    Email
                                                                </label>
                                                             </div>
                                                              <div class="checkbox">
                                                                  <label>
                                                                      <input type="checkbox" (change)="suspendChange(i)" formControlName="phonenumber">
                                                                      Phone Number
                                                                  </label>
                                                              </div>
                                                              <div class="checkbox">
                                                                    <label>
                                                                      <input type="checkbox" (change)="suspendChange(i)"  formControlName="website">
                                                                        Website
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" (change)="suspendChange(i)" formControlName="socialmedial">
                                                                        Social Media
                                                                    </label>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </td>
                                                      <td>
                                                          <button type="button" class="btn btn-sm btn-info" (click)="Approvedformsuspend(i)" >Approved</button>
                                                          <button type="button" class="btn btn-sm btn-danger" (click)="declinedInstructorformsuspend(i)">Declined</button>
                                                      </td>
                                                   </tr>
                                          </tbody>
                                   </table>
                               </div>
                         </div>
                    </div> 
               </div> 
         </div>
         <div class="modal modal-info fade" id="modal-info">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{New_title}}</h4>
                </div>
                <div class="modal-body">
                  <p>{{New_body}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                  <div *ngIf="New_status == 1">
                     <button type="button" class="btn btn-outline" (click)="approvedModel()">Ok</button>
                  </div>
                  <div  *ngIf="New_status == 2">
                    <button type="button" class="btn btn-outline" (click)="declinedModel()">Ok</button>
                 </div>
                  <div  *ngIf="New_status == 3">
                    <button type="button" class="btn btn-outline" (click)="suspendModel()">Ok</button>
                 </div>

                 
                 <div *ngIf="New_status == 4">
                    <button type="button" class="btn btn-outline" (click)="declinedformApprovedModel()">Ok</button>
                 </div>
                 <div  *ngIf="New_status == 5">
                     <button type="button" class="btn btn-outline" (click)="suspendformApprovedModel()">Ok</button>
                 </div>



                 <div *ngIf="New_status == 6">
                    <button type="button" class="btn btn-outline" (click)="approvedfromdeclinedModel()">Ok</button>
                 </div>
                 <div  *ngIf="New_status == 7">
                     <button type="button" class="btn btn-outline" (click)="suspendformdeclinedModel()">Ok</button>
                 </div>
                 <div *ngIf="New_status == 8">
                    <button type="button" class="btn btn-outline" (click)="approvedformsuspendModel()">Ok</button>
                 </div>
                 <div  *ngIf="New_status == 9">
                     <button type="button" class="btn btn-outline" (click)="declinedformsuspendModel()">Ok</button>
                 </div>
                </div>
              </div>
            </div>
          </div>
        
    </section>
</div>

