<div class="content-wrapper" style="margin-top:50px;">
  <section class="content-header">
                <h1>
                  Manage Class
                  <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                      <li class="active">Manage Class</li>
                </ol>
  </section>
  <section class="content">
      <div class="nav-tabs-custom dark-box">
          <ul class="nav nav-tabs">
              <li class="active" (click)="newClassMethod()"><a data-toggle="tab">New<span class="badge btn-primary"></span></a></li>
              <li (click)="approvedClassMethod()"><a data-toggle="tab">Approved <span class="badge btn-primary"></span></a></li>
              <li (click)="declinedClassMethod()"><a data-toggle="tab">Declined <span class="badge btn-danger"></span></a></li>	      
      </ul>
     <div class="tab-content">
      <div *ngIf="is_new" class="row">
          <div class="col-xs-12">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                           <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">              
                            <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                         </div>
                     </div>
                 </div>
              </div>
              <div class="box-body table-responsive no-padding">
                <table id="classTable" class="table table-hover">
                    <thead>
                      <tr>
                        <th>Instructor</th>
                        <th>Class Name</th>
                        <th>Created Date</th>
                        <th>View</th>
                        <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let class of newClass;let i =index;">
                        <td>{{class.owner.first_name}}  {{class.owner.first_name}}</td>
                        <td>{{class.name}}</td>
                        <td style="width:20%;">{{class.created_at}}</td>
                        <td>
                            <button (click)="showModel()"type="button" style="border:none;background:none;"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        </td>
                        <td style="width:20%;">
                            <button type="button" class="btn btn-sm btn-info" (click)="approved(i)">Approved</button>
                            <button type="button" class="btn btn-sm btn-danger" (click)="declined(i)">Declined</button>
                        </td>
                      </tr>
                    </tbody>  
                </table>
                 <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" (click)="Previous()">Previous</a></li>
                          <li class="page-item" *ngFor="let x of pages;let i =index"><a class="page-link" (click)="middlePages(i)">{{i+1}}</a></li>
                          <li class="page-item"><a class="page-link">...</a></li>
                          <li class="page-item"><a class="page-link" (click)="Next()">Next</a></li>
                        </ul>
                 </nav>
              </div>
           </div>
        </div>
        <div *ngIf="is_approved" class="row">
            <div class="col-xs-12">
                  <div class="box-header">
                      <div class="box-tools">
                          <div class="input-group input-group-sm" style="width: 150px;">
                             <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">              
                              <div class="input-group-btn">
                              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                           </div>
                       </div>
                   </div>
                </div>
                <div class="box-body table-responsive no-padding">
                  <table id="classTable" class="table table-hover">
                      <thead>
                        <tr>
                          <th>Instructor</th>
                          <th>Class Name</th>
                          <th>Created Date</th>
                          <th>View</th>
                          <th></th>
                        </tr>
                    </thead>
                      <tbody>
                        <tr *ngFor="let class of approvedLists;let i =index;">
                            <td>{{class.owner.first_name}}  {{class.owner.first_name}}</td>
                            <td>{{class.name}}</td>
                            <td style="width:20%;">{{class.created_at}}</td>
                            <td>
                                <button (click)="showModel()"type="button" style="border:none;background:none;"><i class="fa fa-eye" aria-hidden="true"></i></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger" (click)="declinedFromApprovedTab(i)">Declined</button>
                            </td>
                         </tr>
                      </tbody>  
                 </table>
                  <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" (click)="PreviousApproved()">Previous</a></li>
                          <li class="page-item" *ngFor="let x of ApprovedPage;let i =index"><a class="page-link" (click)="middlePagesApproved(i)">{{i+1}}</a></li>
                          <li class="page-item"><a class="page-link">...</a></li>
                          <li class="page-item"><a class="page-link" (click)="NextApproved()">Next</a></li>
                        </ul>
                  </nav>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
          </div>
          <div *ngIf="is_declined" class="row">
              <div class="col-xs-12">
                  <div class="box-header">
                      <div class="box-tools">
                          <div class="input-group input-group-sm" style="width: 150px;">
                             <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">              
                              <div class="input-group-btn">
                              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                           </div>
                       </div>
                   </div>
                </div>
                  <div class="box-body table-responsive no-padding">
                    <table id="classTable" class="table table-hover">
                        <thead>
                          <tr>
                            <th>Instructor</th>
                            <th>Class Name</th>
                            <th>Created Date</th>
                            <th>View</th>
                            <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let class of declinedLists;let i =index;">
                              <td>{{class.owner.first_name}}  {{class.owner.first_name}}</td>
                              <td>{{class.name}}</td>
                              <td style="width:20%;">{{class.created_at}}</td>
                              <td>
                                  <button (click)="showModel()"type="button" style="border:none;background:none;"><i class="fa fa-eye" aria-hidden="true"></i></button>
                              </td>
                              <td>
                                  <button type="button" class="btn btn-sm btn-info" (click)="approvedFormDeclinedTab(i)">Approved</button>
                              </td>
                            </tr>
                      </tbody>  
                      <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" (click)="Previousdeclined()">Previous</a></li>
                              <li class="page-item" *ngFor="let x of declinedPage;let i =index"><a class="page-link" (click)="middlePagesDeclined(i)">{{i+1}}</a></li>
                              <li class="page-item"><a class="page-link">...</a></li>
                              <li class="page-item"><a class="page-link" (click)="NextDeclined()">Next</a></li>
                            </ul>
                      </nav>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
         </div>
    </div>
        <div class="modal fade in" id="modal-info">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                   <div class="model-box-body">
                     <div class="container" id="detailconatiner">
                      <div class="col-md-6 col-sm-6 col-xs-6 images-section" style="height: 542px;position:relative;">
                        <div class="row-first row-first stick affix" data-spy="affix" data-offset-bottom="NaN" data-offset-top="" >
                          <div class="detail-image">
                            <img src="/assets/dist/img/01-DetailPage.png" class="img-responsive" data-toggle="modal" data-target="#modal-info">
                            <div class="schedule-days-button  ">
                              <div class="intro-date">
                                <p>	Available days in Janaury
                                </p>
                                <p class="time-slot">
                                  2:00pm - 4:00pm
                                </p>
                              </div>
                              <div class="block-calender carousel slide slide-date" id="myCarousel" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="item">
                                    <div class="label-content-dayscal" data-toggle="modal" data-target="#book-modal1"> 
                                        <span class="calday">Sun</span> 
                                        <span class="numdate">15</span>
                                      </div>
                                    <div class="label-content-dayscal" data-toggle="modal" data-target="#book-modal1"> 
                                        <span class="calday">Mon</span> 
                                        <span class="numdate">16</span>
                                      </div>
                                    <div class="label-content-dayscal" data-toggle="modal" data-target="#book-modal1"> 
                                        <span class="calday">Fri</span> 
                                        <span class="numdate">20</span>
                                      </div>
                                  </div>
                                  <div class="item">
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sun</span> 
                                        <span class="numdate">15</span>
                                      </div>
                                  </div>
                                  <div class="item active">
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sun</span> 
                                        <span class="numdate">15</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Mon</span> 
                                        <span class="numdate">16</span>
                                      </div>
                                  </div>
                                  <div class="item">
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sun</span> 
                                        <span class="numdate">15</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Mon</span> 
                                        <span class="numdate">16</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Fri</span> 
                                        <span class="numdate">20</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sat</span> 
                                        <span class="numdate">16</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sun</span> 
                                        <span class="numdate">15</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Mon</span> 
                                        <span class="numdate">16</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Fri </span> 
                                        <span class="numdate">20</span>
                                      </div>
                                  </div>
                                  <div class="item">
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sun</span> 
                                        <span class="numdate">15</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Mon</span> 
                                        <span class="numdate">16</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Fri</span> 
                                        <span class="numdate">20</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sat</span> 
                                        <span class="numdate">16</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sun</span> 
                                        <span class="numdate">15</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Mon</span> 
                                        <span class="numdate">16</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Fri </span> 
                                        <span class="numdate">20</span>
                                      </div>
                
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sat</span> 
                                        <span class="numdate">16</span>
                                      </div>
                                    <div class="label-content-dayscal"> 
                                        <span class="calday">Sun</span> 
                                        <span class="numdate">15</span>
                                      </div>
                                  </div>
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                      
                                    </a>
                                </div>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 " id="share-content">
                                <p class="" data-toggle="modal" data-target="#share-modal">
                                  <i class="fa fa-comment-o" aria-hidden="true"></i> 
                                  Ask a friend to go with you
                                </p>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 choose-date">
                                <p class="p-cost">
                                  <span>$25</span> for 2 classes
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="content-overlay-sharesave">
                            <label class="content-share">
                              </label>
                                <label class="content-save">
                                 <a href="#">
                                   <span class="" aria-hidden="true">
                                       <svg viewBox="0 0 32 32" fill="#484848" fill-opacity="0.5" stroke="#ffffff" stroke-width="2" aria-label="Add to wishlist" role="img" stroke-linecap="round" stroke-linejoin="round" style="height: 25px; width: 25px; display: block; float: right;"><path d="m23.99 2.75c-.3 0-.6.02-.9.05-1.14.13-2.29.51-3.41 1.14-1.23.68-2.41 1.62-3.69 2.94-1.28-1.32-2.46-2.25-3.69-2.94-1.12-.62-2.27-1-3.41-1.14a7.96 7.96 0 0 0 -.9-.05c-1.88 0-7.26 1.54-7.26 8.38 0 7.86 12.24 16.33 14.69 17.95a1 1 0 0 0 1.11 0c2.45-1.62 14.69-10.09 14.69-17.95 0-6.84-5.37-8.38-7.26-8.38"></path></svg>
                                    </span>	
                                <span class="span-content-save"><br>save</span>
                              </a>
                            </label>
                          </div>
                        </div>
                      </div>
                       <div class="col-md-6 col-sm-6 col-xs-6 right-detail">
                        <div class="row">
                          <div class="col-md-12 description">
                              <h2>
                                 Get your driving license in 10 classes!
                              </h2>
                      
                              <p class="pHeading">
                                  Location
                              </p>
                              <div class="pDesc">
                                4 robert speck parkway, Mississauage
                              </div>
                      
                              <p class="pHeading">
                                  Pricing
                              </p>
                              <div class="pDesc">
                                  <span>$25</span> per month
                              </div>
                      
                              <p class="pHeading">
                                  Age requirement
                              </p>
                              <div class="pDesc">
                                  16 or older
                              </div>
                      
                              <p class="pHeading">
                                  Previous experience
                              </p>
                              <div class="pDesc">
                                  Not requirement
                              </div>
                      
                              <div class="hostDesc">
                                  <div class="imageContainer">
                                      <div class="coverImage">
                                        <img src="/assets/dist/img/user8-128x128.jpg" class="img-circle img-responsive " style="width: 125px; height: 114px;">
                                      </div>
                                  </div>
                                  <div class="hostContainer">
                                      <p class="pHeading">
                                          Hosted by
                                      </p>
                                      <div class="pDesc">
                                          Milan
                                          <div class="rating">
                                              <i class="active">★</i>
                                              <i class="active">★</i>
                                              <i class="active">★</i>
                                              <i>★</i>
                                              <i>★</i>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <hr>
                            </div>
                            <div class="col-md-12 descriptionSection">
                                <div class="descHeading">
                                    Who should join this class?
                                </div>
                              <div class="desc">
                                  <p>Best for individual who haven't done 
                                    any driving lesson before and would like
                                    to pass this test</p>
                              </div>
                            </div>
                            <div class="col-md-12">
                               <hr>
                            </div>
                            <div class="col-md-12 descriptionSection">
                                <div class="descHeading">
                                    What will I learn?
                                </div>
                                <div class="desc">
                                    <p>We're celebrating World Usability Day by
                                       Kicking off a new global event series! Join
                                       us and Googel Developers Experts for talks 
                                       and trainings on visual design, design sprints,
                                       interaction designm front end development, location 
                                       around the world. If you're a developer, designer, or
                                       entrepreneur in mexico city, come to our first event
                                       this friday, November 10. We hope to see you there!</p>
                                </div>
                            </div>
                            <div class="col-md-12 descriptionSection">
                              <div class="descHeading">
                                  A bit about Milan?
                              </div>
                              <div class="desc">
                                  <p>I am a performer who uses Japanes sword to 
                                    express the heart of ancient Japanes
                                    tradation, something that cannot be found
                                    in museums or online. I have practiced swordsmanshio
                                    for 10 years and have performed this activity at various
                                    shrines, temples, event venues. I also performed this
                                    activity at various shrines, temples, and event venues.
                                    I also perform various Japaness style one of bamboo flute, sometimes
                                  </p>
                              </div>
                          </div>
                      
                           <div class="col-md-12">
                               <hr>
                           </div>
                           <div class="col-md-12 descriptionSection">
                               <div class="descHeading">
                                   Where will we meet ?
                              </div>
                          </div>
                           <div class="col-md-12">
                              <agm-map [latitude]="lat" [longitude]="lng">
                                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                              </agm-map>
                          </div>
                          <!-- <div *ngIf="isBrowser()" class="col-md-12">
                              <app-detail-map [productLocation]="productLocation"></app-detail-map>
                          </div> -->
                          <div class="col-md-12">
                              <hr>
                          </div>
                      
                      
                          <div class="col-md-12 descriptionSection">
                              <div class="descHeading">
                                  What to bring with you?
                              </div>
                              <div class="desc">
                                  <p>I am a performer who uses Japanes sword to 
                                      express the heart of ancient Japanes
                                      tradation, something that cannot be found
                                      in museums or online. I have practiced swordsmanshio
                                      for 10 years and have performed this activity at various
                                      shrines, temples, event venues. I also performed this
                                      activity at various shrines, temples, and event venues.
                                      I also perform various Japaness style one of bamboo flute, sometimes</p>
                                </div>
                          </div>
                          <div class="col-md-12">
                              <hr>
                          </div>
                          <div class="col-md-12 descriptionSection">
                              <div class="descHeading">
                                  I will provide
                              </div>
                              <div class="desc">
                                  <p>I am a performer who uses Japanes sword to 
                                      express the heart of ancient Japanes
                                      tradation, something that cannot be found
                                      in museums or online. I have practiced swordsmanshio
                                      for 10 years and have performed this activity at various
                                      shrines, temples, event venues. I also performed this
                                      activity at various shrines, temples, and event venues.
                                      I also perform various Japaness style one of bamboo flute, sometimes</p>
                               </div>
                            </div>
                            <div class="col-md-12 descriptionSection">
                                <div class="descHeading">
                                    Note
                                </div>
                                <div class="desc">
                                    <p>I am a performer who uses Japanes sword to 
                                        express the heart of ancient Japanes
                                        tradation, something that cannot be found</p>
                                 </div>
                            </div>
                             <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-12 descriptionSection">
                                <div class="descHeading">
                                    Amenities
                                </div>
                                <div class="desc">
                                    <div class="col-xs-2 amenitiesIcon">
                                        <img src="/assets/images/parking.png">
                                        <div class="amenitiesLabel">Parking</div>
                                    </div>
                                    <div class="col-xs-2 amenitiesIcon">
                                        <img src="/assets/images/wifi.png">
                                        <div class="amenitiesLabel">Parking</div>
                                    </div>
                                    <div class="col-xs-2 amenitiesIcon">
                                        <img src="/assets/images/shower.png">
                                        <div class="amenitiesLabel">Parking</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
              </div> 
            </div>
          </div> 
       </div>


       <div class="modal modal-info fade" id="class-modal-info">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
              <p>{{body}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
              <div *ngIf="status == 1">
                 <button type="button" class="btn btn-outline" (click)="approvedformNewModel()">Ok</button>
              </div>
              <div  *ngIf="status == 2">
                <button type="button" class="btn btn-outline" (click)="declinedformNewModel()">Ok</button>
             </div>
              <div  *ngIf="status == 3">
                <button type="button" class="btn btn-outline" (click)="suspendformApprovedModel()">Ok</button>
             </div>
             <div *ngIf="status == 4">
                <button type="button" class="btn btn-outline" (click)="approvedformDeclinedModel()">Ok</button>
             </div>
            </div>
          </div>
        </div>
      </div>



  </section>
</div>
