
/* #class-modal-info{
    width: 290px;
    margin-top: 5px;
    height: 100px;
} */



#modal-info .modal-lg {
    width: 1200px;
    margin-top: 5px;
    height: 800px;
    overflow: hidden;
}
#detailconatiner{
    margin-top: 20px;
    height: 601px;
}

.images-section {
    position: relative;
    left: -10px;
}
.row-first {
    position: fixed;
    left: 160px;
    overflow: hidden;
}
.row-first img {
    border-radius: 10px;
    width: auto;
    height: 370px;
}
.schedule-days-button {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
/* .affix {
    position: relative;
} */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1211px;

}
#detailconatiner {
    margin-top: 20px;
    overflow:  hidden;
}
.intro-date p {
    text-align: center;
    color: #2e3e48;
    font-size: 13px;
    margin: 0px;
    font-weight: normal;
    font-style: normal;
}
.intro-date {
    margin-top: 30px;
}
.content-overlay-sharesave label a .span-content-save {
    font-size: 13px;
    position: relative;
    font-weight: normal;
    font-style: normal;
    left: 0px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.content-overlay-sharesave label a {
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
    font-size: 15px;
}
.affix-top {
    position: absolute;
    top: 6px;
    right: 27px;
    text-align: right;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.block-calender .label-content-dayscal {
    padding: 1px 9px;
    background: #f4f9fd;
    text-align: center;
    width: 45px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid #ececfa;
    display: inline-block;
}
.schedule-days-button .slide-date {
    margin-top: 0px;
    width: 369px;
}

.schedule-days-button .slide-date {
    margin-top: 0px;
    width: 369px;
}
.block-calender {
    padding: 0px;
}
.carousel {
    position: relative;
}
.block-calender .label-content-dayscal .calday {
    color: #ff5a5f;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
}
#myCarousel .carousel-inner .carousel-control i.fa-chevron-circle-left {
    position: relative;
    top: 7px;
    left: -18px;
    text-shadow: none;
    color: #00a2c7;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#myCarousel .carousel-inner .carousel-control i.fa-chevron-circle-right {
    position: relative;
    top: 7px;
    right: -19px;
    text-shadow: none;
    color: #00a2c7;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
} */

.schedule-days-button {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
}
#share-content p {
    cursor: pointer;
    margin-bottom: 0px;
}
/* .carousel-inner>.item {
    position: relative;
    display: none;
} */
p {
    margin: 0 0 10px;
}
#myCarousel .item{
    padding-left: 0px;
}
.p-cost {
    font-size: 11px;
    margin-bottom: 4px;
    font-weight: 300;
    color: #2e3e48;
}
/* .detail-image{
   
} */
.content-overlay-sharesave{
    position: absolute;
    top: 5px;
    right: 10px;
}
.right-detail{
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
    float: left;
}
.right-detail::-webkit-scrollbar {
    width: 10px;
    
}
.right-detail::-webkit-scrollbar-thumb {
    background: #d7d7d7;
}
.right-detail::-webkit-scrollbar-track {
    background: #fff;
}


.description h2{
      color: fontColor;
      font-weight: bold;
      font-style: normal;
      font-size: 36px;
      margin-top: -2px;
}
.pHeading {
      color: lightFontColor;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      margin-bottom: 0;
      margin-top: 20px;
}
.pDesc {
      color: fontColor;
      font-weight: bold;
      font-style: normal;
      font-size: 14px;
        
}
.pDesc span {
      font-size: 20px;
}
.hostDesc {
    display: block;
    margin-top: 20px;
}
.imageContainer {
    float: left;
    margin-right: 20px;
}
.coverImage {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-size: cover !important;
  }
  .hostContainer {
    float: left;
    margin: 36px auto;
  }
  .pHeading {
    color: lightFontColor;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .pDesc {
    color: fontColor;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
  }
  .rating {
    display: inline-block;

    letter-spacing: -2px;
  }
  i {
    font-style: normal;
    color: lightFontColor;
  }
i.active {
    color: brandColor;
}
.descHeading {
    display: block;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
    color: fontColor;
    padding-bottom: 10px;
}
.desc {
    display: block;
}
    
p {
    color: lightFontColor;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    font-size: 16px;
    /* //text-align: justify; */
 }
.amenitiesIcon {
        margin-top: 15px;
 }
.amenitiesLabel {
        font-weight: normal;
        text-align: center;
}
agm-map {
    height: 300px;
  }