<div class="content-wrapper" style="margin-top:50px;">
    <section class="content-header">
                  <h1>
                    Book Request
                    <small>Control panel</small>
                  </h1>
                  <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Book Request</li>
                  </ol>
    </section>
     <section class="content">
        <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Book Request</h3>
    
                  <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
    
                      <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <th>Class</th>
                      <th>instructor</th>
                      <th>Student</th>
                      <th>Date & Time</th>
                      <th>Message</th>
                      <th>New Request</th>
                      <th>Accepted</th>
                      <th>Declined</th>
                    </tr>
                    <tr>
                      <td>183</td>
                      <td>John Doe</td>
                      <td>11-7-2014</td>
                      <td><span class="label label-success">Approved</span></td>
                      <td>
                          <button (click)="showModel()"type="button" ><i class="fa fa-eye" aria-hidden="true"></i></button>
                      </td>
                      <td>183</td>
                      <td>John Doe</td>
                      <td>11-7-2014</td>
                    </tr>
                    <tr>
                      <td>219</td>
                      <td>Alexander Pierce</td>
                      <td>11-7-2014</td>
                      <td><span class="label label-warning">Pending</span></td>
                      <td>
                          <button (click)="showModel()"type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
                      </td>
                      <td>183</td>
                      <td>John Doe</td>
                      <td>11-7-2014</td>
                    </tr>
                    <tr>
                      <td>657</td>
                      <td>Bob Doe</td>
                      <td>11-7-2014</td>
                      <td><span class="label label-primary">Approved</span></td>
                      <td>
                          <button (click)="showModel()"type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
                      </td>   
                      <td>175</td>
                      <td>Mike Doe</td>
                      <td>11-7-2014</td>          
                     </tr>
                    <tr>
                      <td>175</td>
                      <td>Mike Doe</td>
                      <td>11-7-2014</td>
                      <td><span class="label label-danger">Denied</span></td>
                      <td>
                          <button (click)="showModel()"type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
                      </td>  
                      <td>175</td>
                      <td>Mike Doe</td>
                      <td>11-7-2014</td>  
                     </tr>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
          </div>
          <div class="modal modal-info fade" id="modal-info">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Info Modal</h4>
                  </div>
                  <div class="modal-body">
                    <p>One fine body&hellip;</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline">Save changes</button>
                  </div>
                </div>
              </div>
            </div> 
     </section>
</div>
