<div class="content-wrapper" style="margin-top:50px;">
                <section class="content-header">
                             <h1>
                                 Add Category
                                <small>Control panel</small>
                              </h1>
                              <ol class="breadcrumb">
                                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                                    <li class="active">Add Category</li>
                             </ol>
                </section>
                <section class="content">
                          <div class="row">
                               <div class="col-md-4">
                                    <div class="box box-primary dark-box">
                                        <div class="box-header with-border">
                                                    <h3 class="box-title">Add Category</h3>
                                                        <!-- <div class="box-tools pull-right">
                                                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                                            </button>
                                                     <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                                 </div> -->
                                        </div>
                                        <div class="box-body">
                                                <div class="input-group col-md-12">
                                                    <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-home" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control input-sm" placeholder="Category" aria-describedby="sizing-addon2">
                                                </div><br>
                                                <div class="input-group col-md-12">
                                                   <span class="input-group-addon"><i class="fa fa-list"></i></span>
                                                       <select class="form-control input-sm" id="sel1">
                                                                <option>Set Parent</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                         </select>
                                                 </div><br>
                                                 <div class="input-group col-md-12">
                                                       <span class="input-group-addon">
                                                           <input type="checkbox" aria-label="Checkbox for following text input">
                                                       </span>
                                                      <input type="text" class="form-control input-sm" aria-label="Text input with checkbox" placeholder="is Class" readonly>
                                               </div><br>
                                               <div class="input-group col-md-12">
                                                    <button type="submit"  class="btn btn-primary btn-flat btn-block form-control input-sm">Add Category</button>
                                              </div><br>
                                        </div>
                                   </div>  
                              </div>
                              
	             <div class="col-md-8">
                        <div class="nav-tabs-custom dark-box">
                                <ul class="nav nav-tabs">
                                        <li class="active"><a href="#allCategory" data-toggle="tab">All <span class="badge btn-primary">8</span></a></li>
                                        <li><a href="#publishCategory" data-toggle="tab">Publish <span class="badge btn-success">9</span></a></li>
                                        <li><a href="#unPublishCategory" data-toggle="tab">Un-Publish <span class="badge btn-warning">10</span></a></li>
                                        <li><a href="#trashCategory" data-toggle="tab">Trash <span class="badge btn-danger">11</span></a></li>
                                </ul>
                                <div class="tab-content">
                                        <div class="active tab-pane" id="allCategory">
                                                <table id="allCategoryTable" class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                                <th>NAME</th>
                                                                <th>DESCRIPTION</th>
                                                                <th>SLUG</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                                <th>NAME</th>
                                                                <th>DESCRIPTION</th>
                                                                <th>SLUG</th>
                                                        </tr>
                                                         </tfoot>
                                                </table>
                                       </div>
                               <div class="tab-pane" id="publishCategory">
					<table id="publishCategoryTable" class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>NAME</th>
							<th>DESCRIPTION</th>
							<th>SLUG</th>
						</tr>
						</thead>
						<tbody>
                                               </tbody>
                                               <tfoot>
                                                <tr>
                                                        <th>NAME</th>
                                                        <th>DESCRIPTION</th>
                                                        <th>SLUG</th>
                                                </tr>
                                                 </tfoot>
                                        </table>
                                </div>
                                 <div class="tab-pane" id="unPublishCategory">
                                                <table id="unPublishCategoryTable" class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                                <th>NAME</th>
                                                                <th>DESCRIPTION</th>
                                                                <th>SLUG</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                       </tbody>
                                                       <tfoot>
                                                        <tr>
                                                                <th>NAME</th>
                                                                <th>DESCRIPTION</th>
                                                                <th>SLUG</th>
                                                        </tr>
                                                         </tfoot>
                                                </table>
                                 </div>
                                 <div class="tab-pane" id="trashCategory">
                                         <table id="trashCategoryTable" class="table table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                                <th>NAME</th>
                                                                <th>DESCRIPTION</th>
                                                                <th>SLUG</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                       </tbody>
                                                       <tfoot>
                                                        <tr>
                                                                <th>NAME</th>
                                                                <th>DESCRIPTION</th>
                                                                <th>SLUG</th>
                                                        </tr>
                                                         </tfoot>
                                                </table>
                                        </div>
                            </div>
                          </div>
                     </div>
                   </div>
                </section>
            </div>
            