<div class="content-wrapper" style="margin-top:50px;">
      <section class="content-header">
                    <h1>
                      Inquiry List
                      <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                          <li class="active"> Inquiry List</li>
                    </ol>
      </section>
       <section class="content">
          <div class="nav-tabs-custom dark-box">
              <ul class="nav nav-tabs">
              <li class="active" (click)="UnseenInquiry()"><a href="#allCategory" data-toggle="tab">Unseen Inquiry <span class="badge btn-primary"></span></a></li>
              <li (click)="seenInquiry()"><a href="#trashCategory" data-toggle="tab">Seen Inquiry <span class="badge btn-danger"></span></a></li>	
              <li (click)="markAsSpam()"><a href="#markasSpam" data-toggle="tab">Mark As a Spam<span class="badge btn-danger"></span></a></li>	            
          </ul>
         <div class="tab-content">
            <div *ngIf="unseen" class="row">
                <div class="col-xs-12"> 
                        <div class="box-header">
                                <div class="box-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">              
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                     </div>
                                </div>
                            </div>
                        </div>
                    <div class="active tab-pane" class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                    <tr>
                                        <th>Class</th>
                                        <th>Instructor</th>
                                        <th>Student</th>
                                        <th>Message</th>
                                        <th> View Message</th>
                                    </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let inquiry of inquiries;let i =index;">
                                <td>{{inquiry.class_name}}</td>
                                <td>{{inquiry.Receiver}}</td>
                                <td>{{inquiry.Sender}}</td>
                                <td>{{inquiry.message}}</td>
                                <td><button type="button" class="btn btn-sm btn-info" (click)="viewMessage(i)">View Message</button></td>
                            </tr>
                            </tbody>
                            </table>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item"><a class="page-link" (click)="Previous()">Previous</a></li>
                                  <li class="page-item" *ngFor="let x of pages;let i =index"><a class="page-link" (click)="middlePages(i)">{{i+1}}</a></li>
                                  <li class="page-item"><a class="page-link">...</a></li>
                                  <li class="page-item"><a class="page-link" (click)="Next()">Next</a></li>
                                </ul>
                         </nav>
                        </div>
                 </div>
           </div>
        <div *ngIf="seen" class="row">
            <div class="col-xs-12"> 
                       <div class="box-header">
                            <div class="box-tools">
                                   <div class="input-group input-group-sm" style="width: 150px;">
                                     <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">              
                                     <div class="input-group-btn">
                                         <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                   </div>
                                </div>
                            </div>
                      </div>
                     <div class="tab-pane"  class="box-body table-responsive no-padding">
                          <table id="trashCategoryTable"  class="table table-hover">
                            <thead>
                                      <tr>
                                        <th>Class</th>
                                        <th>Instructor</th>
                                        <th>Student</th>
                                        <th>Inquiry Date</th>
                                        <th>Mark as a Spam</th>
                                        <th>View Message</th>
                                      </tr>
                            </thead>
                                <tbody>
                                    <tr *ngFor="let seen of SeenInquiryData;let i =index">
                                        <td>{{seen.class_name}}</td>
                                        <td>{{seen.Receiver}}</td>
                                        <td>{{seen.Sender}}</td>
                                        <td>{{seen.message}}</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-info" (click)="markAsaSpam(i)">Mark as a Spam</button>
                                        </td>
                                        <td><button type="button" class="btn btn-sm btn-info" (click)="seenviewMessage(i)">View Message</button></td>
                                    </tr>
                                </tbody>
                             </table>
                             <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                       <li class="page-item"><a class="page-link" (click)="seenPrevious()">Previous</a></li>
                                       <li class="page-item" *ngFor="let x of seenpages;let i =index"><a class="page-link" (click)="seenmiddlePage(i)">{{i+1}}</a></li>
                                       <li class="page-item"><a class="page-link" href="#">...</a></li>
                                       <li class="page-item"><a class="page-link"(click)="seenNext()">Next</a></li>
                                    </ul>
                             </nav>
                          </div>
                     </div>
                 </div>
                 <div *ngIf="markasSpamstatus" class="row">
                    <div class="col-xs-12"> 
                            <div class="box-header">
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">              
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        <div class="active tab-pane" class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                        <tr>
                                            <th>Class</th>
                                            <th>Instructor</th>
                                            <th>Student</th>
                                            <th>Message</th>
                                            <th>View Message</th>
                                        </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let inquiry of markasSpamdata;let i =index;">
                                    <td>{{inquiry.class_name}}</td>
                                    <td>{{inquiry.Receiver}}</td>
                                    <td>{{inquiry.Sender}}</td>
                                    <td>{{inquiry.message}}</td>
                                    <td><button type="button" class="btn btn-sm btn-info" (click)="viewMessage(i)">View Message</button></td>
                                 </tr>
                                </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                      <li class="page-item"><a class="page-link" (click)="markPrevious()">Previous</a></li>
                                      <li class="page-item" *ngFor="let x of markpages;let i =index"><a class="page-link" (click)="markmiddlePages(i)">{{i+1}}</a></li>
                                      <li class="page-item"><a class="page-link">...</a></li>
                                      <li class="page-item"><a class="page-link" (click)="markNext()">Next</a></li>
                                    </ul>
                               </nav>
                            </div>
                     </div>
                 </div>
              </div>
           </div>
           <div class="modal fade" id="requestviewmore" role="dialog">
              <div class="modal-dialog modal-lg">
                <!-- Modal content-->
               <div class="modal-content">
                   <div class="modal-body">
                    <div class=" row request-box">
                     <div class="col-xs-12 text-center" id=" modal-header-desc">
                      <div class="col-xs-4   personal-col-div-content">
                        <img class="img-chat personal-col-chat" src="/assets/dist/img/user2-160x160.jpg" alt="" width="80" height="80">
                      </div>
                      <div class="col-xs-8 userinfo-content">
                        <p>
                        <span class="col-xs-12" id="user-name-span">
                         <span>Inquiry from</span>
                         {{student}}
                        </span>
                        <span class="col-xs-12" id="user-info-span" >
                         <i class="fa fa-phone-square" aria-hidden="true"></i> 
                         {{Phone}}
                         <i class="fa fa-envelope" aria-hidden="true"></i> 
                         {{Email}}
                        </span>
                        <span class="col-xs-12" id="user-header-span" >{{Name}}</span>
                       </p>
                      </div>
                     </div>
                     <div class="message-box message-box-small">
                      <ul class="chat-box">
                        <div *ngFor="let message of messages;let i =index">
                            <li class="text-left" *ngIf="message.from == sender">  
                                <div>
                                    <img class="user-circle" src="/assets/dist/img/user2-160x160.jpg" alt="">
                                      </div> 
                                        <div class="message text-left">
                                           <p id="messsage-parag">
                                             {{message.message}}
                                                <span id="messsage-parag-span" >
                                                    3 month ago
                                                </span> 
                                          </p>
                                     </div>
                              </li>
                            <li class="text-right" *ngIf="message.to == sender">
                                <div>
                                        <img class="user-circle" src="/assets/dist/img/user2-160x160.jpg" alt="">
                                     </div>
                                        <div class="message text-right" >
                                           <p id="messsage-parag">
                                               {{message.message}}
                                               <span id="messsage-parag-span">
                                                   3 month ago
                                               </span> 
                                         </p>
                                    </div>  
                              </li>
                            </div>
                          </ul>       
                       </div>
                     </div>
                    </div>
                   <button type="button" class="close model-closebtn" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                  </div> 
              </div>
          </div>
          <div class="modal modal-info fade" id="markasSpam-modal-info">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                  <p>{{body}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-outline" (click)="markasaSpamModel()">Ok</button>
                </div>
              </div>
            </div>
          </div>
    
    
       </section>
</div>

