#requestviewmore .personal-col-chat {
    border-radius: 50%;
    margin: 13px auto;
    float: right;
    width: 65px;
    height: 65px;
}
#requestviewmore .personal-col-div-content{
    padding-right: 0px;
}
#requestviewmore .userinfo-content{
    text-align: left;
    padding: 0px;
    margin: 11px auto;
}
#requestviewmore .modal-dialog {
    width: 500px;
    margin: 30px auto;
    margin-top: 65px;
}
#requestviewmore .modal-body{
 padding-bottom: 3px;
 padding-top: 0px;
}
#requestviewmore .modal-body, #requestviewmore .modal-body .request-box{
 background: #fafafa ;
    border-radius: 6px;
}
#requestviewmore .request-box .text-center{
 margin-top: 0px;
 margin-bottom: 0px;
}

#requestviewmore .message-box{
 border: none;
}
#requestviewmore .message-box input[type="text"] {
    border: 1px solid #ececfa;
    margin-top: 0;
    margin-left: 0px;
    padding: 7px;
    width: 80%;
    position: relative;
    top: 10px;
    left: 10px;
    float: left;
    border-radius: 22px;
}
#requestviewmore .message-box input:focus[type="text"]{
 border: 1px solid  #00a2c7;
}
#requestviewmore .message-box .response .type-here:focus{
 outline: none;
}
#requestviewmore #user-name-span span{
    color: #2e3e48;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;

}
#requestviewmore #user-name-span{
 font-size: 12px;
    text-transform: none;
    width: 100%;
    color: #00a2c7;
    font-weight: bold;
    font-style: normal;
}
#requestviewmore #user-info-span i.fa-envelope{
 padding-left: 20px;
}
#requestviewmore #user-info-span i{
 padding-right: 10px;
 font-size: 12px;

}
#requestviewmore #user-info-span{
 font-size: 11px;
 color: #767676;
 font-weight: normal;
    font-style: normal;
}
#requestviewmore  #user-header-span{
 font-size: 16px;
    text-transform: none;
    width: 100%;
    color: #2e3e48;
    font-weight: bold;
    font-style: normal;
}
#requestviewmore .message-box .response .type-here:hover {
    color: #fff;
    background-color: #008dae;
}
#requestviewmore .message-box {
    margin-bottom: 0px;
}
#requestviewmore .message-box .response .type-here span{
 font-weight: bold;
}
#requestviewmore .message-box .response .type-here {
    background: #fff none repeat scroll 0 0;
    color: #00a2c7;
    font-size: 13px;
    position: absolute;
    text-decoration: none;
    top: 0;
    font-weight: normal;
    font-style: normal;
    height: 36px;
    width: 70px;
    border: 1px solid #00a2c7;
    position: relative;
    top: 10px;
    right: 10px;
    float: right; 
    border-radius: 22px;
}
.content-back-label .label-back {
 font-size: 11px;
 color: #00a2c7;
 font-weight: normal;
 text-decoration: none;

}
.content-back-label{
 padding: 10px 10px;
 padding-bottom: 0px;
 font-size: 12px;
 color: #767676;
}
.request-box .chat-box {
    padding: 10px;
    margin: 0;
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
    background: #fafafa ;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #e6e7e9;
    /* / border-radius: 5px; / */
}
.content-area #seemorediv{
 margin-bottom: 25px;
}
.request-box .chat-box {
    padding: 10px;
    margin: 0;
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
    background: #fafafa ;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #e6e7e9;
    /* / border-radius: 5px; / */
}
#requestviewmore .request-box .text-center{
 margin-top: 0px;
 margin-bottom: 0px;
}
#requestviewmore .chat-box li .message {
 max-width: 300px;
}
.chat-box .text-left {
    float: left;
    text-align: left;
    clear: both;
    color: #fff;
    font-size: 13px;
    /* font-weight: bold; */
    font-style: normal;
    margin: 11px 0;
    /* width: 90%; */
    position: relative;
}

.message-box .chat-box li.text-left .user-circle {
    position: absolute;
    left: 1px;
    top: 2px;
}

.message-box .chat-box li .user-circle {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
}
.user-circle {
    width: 35px;
    height: 35px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#requestviewmore .chat-box li .message {
    max-width: 300px;
}
.message-box .chat-box .text-left .message {
    background: #E9EBEE;
    color: #2e3e48;
    margin-left: 50px;
    margin-top: 0px;
}
.message-box .chat-box .text-right, .message-box .chat-box .text-left {
    float: left;
    text-align: left;
    clear: both;
    color: #fff;
    font-size: 13px;
    /* font-weight: bold; */
    font-style: normal;
    margin: 11px 0;
    /* width: 90%; */
    position: relative;
}
.chat-box li .message {
    display: inline-block;
    background: rgb(78, 161, 214);
    padding: 10px;
    border-radius: 10px;
    margin-top: -5px;
    /* width: 200px; */
    min-width: 105px;
    max-width: 200px;
    margin-bottom: 15px;
    color: #fff;
    /* box-shadow: 0 6px 9px -4px #777; */
    position: relative;
}
.chat-box li .message {
    display: inline-block;
    background: #00a2c7;
    padding: 0px;
    border-radius: 10px;
    margin-top: -5px;
    /* width: 200px; */
    margin-bottom: 5px;
    color: #fff;
}

.message-box .chat-box .text-right {
    float: right;
    text-align: left;
    color: #fff;
    position: relative;
    list-style-type: none;
}
.message-box .chat-box .text-right, .message-box .chat-box .text-left {
    float: left;
    text-align: left;
    clear: both;
    color: #fff;
    font-size: 13px;
    /* font-weight: bold; */
    font-style: normal;
    margin: 11px 0;
    /* width: 90%; */
    position: relative;
}



.message-box .chat-box li.text-right .user-circle {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}
.message-box .chat-box li.text-right .user-circle {
    position: absolute;
    right: 1px;
    top: 2px;
}
.message-box .chat-box li .user-circle {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 10px;
    margin-top: -4px;
}
#messsage-parag-span {
    text-align: right;
    float: right;
    font-size: 8px;
    position: relative;
    top: 10px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 5px;
    color: #2e3e48;
}

#requestviewmore .chat-box li .message {
    max-width: 300px;
}
.message-box .chat-box .text-right .message {
    /* margin-bottom: -18px; */
    float: right;
    margin-right: 50px;
    margin-top: 0px;
}
.message-box .chat-box .text-right {
    float: right;
    text-align: left;
    color: #fff;
    position: relative;
    list-style-type: none;
}
.message-box .chat-box .text-right, .message-box .chat-box .text-left {
    float: left;
    text-align: left;
    clear: both;
    color: #fff;
    font-size: 13px;
    /* font-weight: bold; */
    font-style: normal;
    margin: 11px 0;
    /* width: 90%; */
    position: relative;
}
.chat-box li .message {
    display: inline-block;
    background: rgb(78, 161, 214);
    padding: 10px;
    border-radius: 10px;
    margin-top: -5px;
    /* width: 200px; */
    min-width: 105px;
    max-width: 200px;
    margin-bottom: 15px;
    color: #fff;
    /* box-shadow: 0 6px 9px -4px #777; */
    position: relative;
}
.chat-box li .message {
    display: inline-block;
    background: #00a2c7;
    padding: 0px;
    border-radius: 10px;
    margin-top: -5px;
    /* width: 200px; */
    margin-bottom: 5px;
    color: #fff;
}
.message-box .chat-box .text-right {
    float: right;
    text-align: left;
    color: #fff;
    position: relative;
    list-style-type: none;
}
 .message-box .chat-box .text-left {
    float: left;
    text-align: left;
    clear: both;
    color: #fff;
    font-size: 13px;
    /* font-weight: bold; */
    font-style: normal;
    margin: 11px 0;
    /* width: 90%; */
    position: relative;
}

.message-box .chat-box .text-right{
    float: right;
    text-align: left;
    clear: both;
    color: #fff;
    font-size: 13px;
    /* font-weight: bold; */
    font-style: normal;
    margin: 11px 0;
    /* width: 90%; */
    position: relative;
}
#messsage-parag,.message text-left{
  padding: 10px;
}
#requestviewmore button.model-closebtn, #requestmodel button.model-closebtn {
    position: absolute;
    font-size: 14px;
    right: 6px;
    top: 5px;
}